
/*
 * => Global
 */
blockquote {
    padding: 15px 60px 15px 15px;
    text-align: right;
}
blockquote:before {
    right: 12px;
    left: auto;
}
.img-holder {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}


/*
 * => Header and Navigation
 */
.site-header .navbar-toggle {
    right: 0;
    left: auto;
}
.site-header .navbar-search {
    left: 0;
    right: auto;
}


/*
 * => Entry Content
 */
.entry-content .wp-caption.alignleft,
.entry-content .alignleft {
    margin: 5px 20px 20px 0;
    float: left;
}
.entry-content .wp-caption.alignright,
.entry-content .alignright {
    margin: 5px 0 15px 20px;
    float: right;
}
.entry-content .wp-caption.alignleft .wp-caption-text,
.entry-content figure.alignleft .wp-caption-text {
    text-align: left;
}
.entry-content .wp-caption.alignright .wp-caption-text,
.entry-content figure.alignright .wp-caption-text,
.entry-content .wp-caption-text,
.entry-content .gallery-caption,
.entry-content figcaption {
    text-align: right;
}
.entry-content .gallery.gallery-columns-2 .gallery-item,
.entry-content .gallery.gallery-columns-3 .gallery-item,
.entry-content .gallery.gallery-columns-4 .gallery-item,
.entry-content .gallery.gallery-columns-5 .gallery-item,
.entry-content .gallery.gallery-columns-6 .gallery-item,
.entry-content .gallery.gallery-columns-7 .gallery-item,
.entry-content .gallery.gallery-columns-8 .gallery-item,
.entry-content .gallery.gallery-columns-9 .gallery-item {
    float: right;
}


/*
 * -> Custom Lists
 */
.entry-content ul.bs-shortcode-list ul,
.entry-content ul.bs-shortcode-list {
    padding-right: 20px;
    padding-left: 0;
}
.entry-content ul.bs-shortcode-list ul {
    padding-right: 13px;
    padding-left: 0;
}
.entry-content ul.bs-shortcode-list li {
    padding-right: 25px;
    padding-left: 0;
}
.entry-content ul.bs-shortcode-list li:before {
    right: 0;
    left: auto;
}


/*
 * => AMP Menu
 */
.amp-menu section[expanded] {
    padding-right: 10px;
    padding-left: 0;
}
.amp-menu section[expanded] > h6 {
    margin-right: -10px;
    margin-left: auto;
}
.amp-menu a,
.amp-menu span {
    padding: 10px 20px 10px 0;
}
.amp-menu h6 span:after {
    left: 0;
    right: auto;
}
.amp-menu span.menu-item-deep.menu-item-deep {
    padding: 0 25px 0 0;
}
.amp-menu i {
    margin-left: 5px;
    margin-right: auto;
}


/*
 *=> Sidebar
 */
.better-amp-sidebar .close-sidebar {
    left: 10px;
    right: auto;
}


/*
 * => Social List
 */
.social-list-wrapper .number {
    margin: 0 4px 0 0;
}
.social-list-wrapper .post-share-btn {
    margin-left: 8px;
    margin-right: auto;
}
.social-list-wrapper .post-share-btn .text {
    margin-right: 3px;
    margin-left: auto;
}
.social-list li {
    margin-left: 6px;
    margin-right: auto;
}
.social-list li:last-child {
    margin-left: 0;
    margin-right: auto;
}
.social-list .social-item.has-count .fa {
    margin-left: 1px;
    margin-right: auto;
}


/*
 * => Listings
 */
.listing-item .post-meta .post-date .fa {
    margin-left: 3px;
    margin-right: auto;
}
.listing-item a.post-read-more .fa {
    margin-right: 3px;
    margin-left: auto;
}


/*
 * -> Listing Item 1
 */
.listing-1-item .post-thumbnail {
    float: left;
    margin-right: 15px;
    margin-left: auto;
}


/*
 * -> Listing Item 2
 */
.listing-2-item a.post-read-more {
    float: left;
}


/*
 * => Pagination
 */
.pagination .nav-links .page-numbers.prev {
    float: right;
}
.pagination .nav-links .page-numbers.next {
    float: left;
}
.pagination .nav-links .page-numbers.prev .fa {
    margin-left: 7px;
    margin-right: auto;
}
.pagination .nav-links .page-numbers.next .fa {
    margin-right: 7px;
    margin-left: auto;
}
.pagination .nav-links .page-numbers.current:first-child {
    float: right;
}


/*
 * => Footer
 */
.footer-navigation .fa {
    margin-left: 5px;
    margin-right: auto;
}
.better-amp-main-link a .fa {
    margin-left: 5px;
    margin-right: auto;
}


/*
 * ->Archive Pages
 */
.archive-page-header .archive-title .fa {
    margin-left: 10px;
    margin-right: auto;
}


/*
 * -> Search Page
 */
.search-form .search-submit {
    left: 0;
    right: auto;
}
.search-form .search-submit {
    border-radius: 33px 0 0 33px;
}


/*
 * -> Post single page
 */
.single-post .post-meta amp-img {
    margin-left: 6px;
    margin-right: auto;
}


/*
 * --> Post Terms
 */
.post-terms {
    padding-right: 48px;
    padding-left: 0;
}
.post-terms a,
.post-terms .term-type {
    margin-left: 4px;
    margin-right: auto;
}
.post-terms .term-type {
    margin-left: 6px;
    right: 0;
    left: auto;
    margin-right: auto;
}
.post-terms a {
    margin: 0 0 4px 4px;
}
.post-terms a:last-child {
    margin-left: 0;
    margin-right: auto;
}
.post-terms .post-categories li a {
    margin-left: 4px;
    margin-right: auto;
}
.post-terms .post-categories li:last-child a {
    margin-left: 0;
    margin-right: auto;
}


/*
 * --> Post comments
 */
.comments-wrapper {
    padding: 12px 12px 12px 8px;
}
.comments-wrapper  .button.add-comment {
    float: left;
}


/*
 * => Woocommerce Styles
 */
.single-product .product-gallery .product-gallery-image {
    margin: 0 0 8px 8px;
    float: right;
}
.single-product .woocommerce-product-rating {
    float: left;
}
.single-product .product-accordion .accordion-title:after {
    left: 0;
    border-right: 1px solid #e2e2e2;
    right: auto;
    border-left: none;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 1em 3.5em 1em 2em;
}
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
    right: 1.5em;
    left: auto;
}
.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button {
    float: left;
}
.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: auto;
}
.listing-item .button-view-product {
    margin-left: 10px;
    margin-right: auto;
}


/**
 * ->Cart Page
 **/
.woocommerce table.shop_table {
    margin: 0 0 24px -1px;
    text-align: right;
}


/**
 * ->Star rating
 **/
.rating-stars {
    text-align: right;
    margin-left: 10px;
    margin-right: auto;
}
.rating-stars span {
    right: 0;
    left: auto;
}


/**
* -> Comments
*/
.woocommerce ol.commentlist li .avatar {
    right: 0;
    left: auto;
}
.woocommerce ol.commentlist li .comment-text {
    margin: 0 80px 0 0;
}
.woocommerce ol.commentlist li .comment-text .rating {
    float: left;
    margin-left: 0;
    margin-right: auto;
}
.woocommerce ol.commentlist ul.children {
    margin: 20px 50px 0 0;
}
.woocommerce ol.commentlist #respond {
    margin: 20px 50px 0 0;
}
.woocommerce .woocommerce-price ins {
    margin-right: 10px;
    margin-left: auto;
}
.woocommerce .onsale {
    left: 0;
    right: auto;
}


/**
* => WooCommerce archive
*/
.listing-grid-item {
    float: right;
}
.listing-grid-item:nth-child( 3n-2 ) {
    padding-left: 12px;
    clear: right;
    padding-right: 0;
}
.listing-grid-item:nth-child( 3n+3  ) {
    padding-right: 12px;
    padding-left: 0;
}
@media only screen and (max-width: 650px) {
    .listing-grid-item:nth-child( 3n-2 ) {
        padding-left: 12px;
        clear: right;
        padding-right: 0;
    }
    .listing-grid-item:nth-child( 3n+3  ) {
        padding-right: 12px;
        padding-left: 0;
    }
}


/**
* => Pagination
*/
.pagination .newer {
    float: left;
}
.pagination .older {
    float: right;
}


/**
* => Attachment
*/
.single-post.attachment .return-to .button {
    padding-right: 35px;
    padding-left: 0;
}
.single-post.attachment .return-to .fa {
    right: 8px;
    left: auto;
}
.single-post.attachment .listing-attachment-siblings .listing-item {
    float: right;
    margin-left: 10px;
    margin-right: auto;
}
