/*
 * => Global
 */
pre {
    white-space: pre-wrap;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.wrap {
    padding: 15px 15px 0;
    height: 100%;
}
.wrap img {
    max-width: 100%;
}
body.body {
    background: #f2f2f2;
    font-family: 'lato';
    font-weight: normal;
    color: #363636;
    line-height: 1.44;
    font-size: 15px;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: ' ';
    clear: both;
}
.better-amp-wrapper {
    background: #fff;
    max-width: 780px;
    margin: 0 auto;
}
.amp-image-tag {
    max-width: 100%;
}
b, strong, .bold {
    font-weight: 700;
}
p{
    margin: 0 0 15px;
}
a{
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
amp-video {
    max-width: 100%;
    height: auto;
}
.strong-label,
blockquote {
    color: #000;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
}
blockquote {
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
    padding: 15px 15px 15px 60px;
    text-align: left;
    position: relative;
    margin: 0 0 15px;
    clear: both;
}
blockquote p:last-child{
    margin-bottom: 0;
}
blockquote:before {
    content: "\f10e";
    font: normal normal normal 14px/1 FontAwesome;
    color: #d3d3d3;
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 17px;
}
.button,.pagination a,
.comments-pagination a{
    padding: 6px 15px;
    border: 1px solid #d7d7d7;
    background: #faf9f9;
    color: #494949;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    border-radius: 33px;
}
.pagination a{
    padding: 0px 15px;
}
.comments-pagination {
    margin: 10px 0;
}
.comments-pagination a {
    margin-right: 5px;
    padding: 5px 15px;
}
.comments-pagination {
    color: #adadad;
    font-size:small;
}
.img-holder{
    position: relative;
    width: 80px;
    background: #eee;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-holder:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 70%;
}
.content-holder{
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.heading-typo{
    font-family: Roboto;
    font-weight: 500;
    margin: 15px 0 7px;
}
.heading {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

/*
 * => Header and Navigation
 */
.site-header {
    height: 52px;
    width: 100%;
    position: relative;
    margin: 0;
    color: #fff;
}
.site-header .branding {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', "Open Sans", 'sans-serif';
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 55px;
    z-index: 9;
    height: 52px;
    line-height: 32px;
}
.site-header .branding .amp-image-tag {
    display: inline-block;
}
/* sticky nav */
.sticky-nav .site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    display: block;
}
body.sticky-nav{
    padding-top: 52px;
}
/* header buttons */
.site-header .navbar-search,
.site-header .navbar-toggle{
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    position: absolute;
    top: 0;
    z-index: 99;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    height: 52px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    width: 52px;
    text-align: center;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.site-header .navbar-search:hover,
.site-header .navbar-toggle:hover{
    background: rgba(0, 0, 0, 0.1);
}
.site-header .navbar-search:focus,
.site-header .navbar-toggle:focus{
    background: rgba(0, 0, 0, 0.2);
}
.site-header .navbar-toggle {
    font-size: 21px;
    left: 0;
}
.site-header .navbar-search {
    font-size: 18px;
    right: 0;
    line-height: 48px;
}



/*
 * => Footer
 */
.better-amp-footer {
    margin: 0;
}
.better-amp-footer.sticky-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.better-amp-footer-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 14px 15px;
}
.better-amp-copyright {
    padding: 17px 10px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    color: #494949;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    font-size: 13px;
}
.footer-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-navigation li {
    display: inline-block;
    margin: 0 8px 5px;
}
.footer-navigation ul{
    display: none;
}
.footer-navigation a {
    text-decoration: none;
    color: #494949;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}
.footer-navigation li li {
    display: none;
}
.footer-navigation .fa {
    margin-right: 5px;
}
.better-amp-main-link {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 6px 0 12px;
}
.better-amp-main-link a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 33px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
}
.better-amp-main-link a .fa{
    margin-right: 5px;
}

/*
 * => Carousel Style
 */
.carousel {
    overflow: hidden;
}
.carousel .carousel-item,
.carousel .img-holder {
    width: 205px;
    float: none;
    margin: 0;
}
.carousel .carousel-item {
    margin-right: 20px;
    margin-bottom: 20px;

    overflow: hidden;

    line-height: 0;
}
.carousel .carousel-item:last-child {
    margin-right: 0;

}
.carousel .content-holder {
    position: relative;
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;

    background: #f8f8f8;
    border: 1px solid #e2e2e2;
    border-top-width: 0;

    float: left;
    white-space: normal;
    padding: 15px;
    height: 100px;
    width: 100%;
}
.carousel .content-holder h3 {
    margin: 0;
    height: 64px;
    overflow: hidden;
    position: relative;
}
.carousel .content-holder a {
    line-height: 20px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

/*
 * => Comments Style
 */
.comment-header {
    margin-bottom: 14px;
}
.comment-header:last-child{
    margin-bottom: 0;
}

.comment-list {
    margin: 0;
    padding: 0;
}
.comment-list,
.comment-list ul {
    list-style: none;
    padding: 0;
}
.comment-list ul ul{
    padding: 0 0 0 30px;
}
.comment-list .comment {
    position: relative;
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid #f3f3f3;
}
.comment-list>.comment:first-child {
    margin-top: 0;
}
.comment-list li.comment:after {
    clear: both;
    content: ' ';
    display: block;
}
.comment .comment-avatar  img {
    border-radius: 50%;
}
.comment .column-1 {
    float: left;
    width: 55px;
}
.comment .column-2 {
    padding-left: 75px;
}
.comment .comment-content {
    color: #838383;
    margin-top: 8px;
    line-height: 1.57;
    font-size: 14px;
}
.comment .comment-content p:last-child{
    margin-bottom: 0;
}
.comment .comment-author {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
}
.comment .comment-published {
    margin-left: 10px;
    font-size: 12px;
    color: #a2a2a2;
    font-style: italic;
}
.comment .comment-footer a,
.comment .comment-footer .fa {
    font-size: 14px;
    text-decoration: none;
}
.comment .comment-footer a+a {
    margin-left: 10px;
}
.comments-wrapper  .button.add-comment {
    color: #555;
}


/*
 * => BetterStudio Themes Style
 */
.bs-shortcode {
    margin: 0 0 30px;
}
.bs-shortcode .section-heading{
    margin: 0 0 13px;
}
.bs-shortcode .section-heading .other-link{
    display: none;
}
.entry-content table {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    width: 100%;
}