/*
 * => Global
 */
body{
    direction: rtl;
}
blockquote {
    padding: 15px 60px 15px 15px;
    text-align: right;
}
blockquote:before {
    right: 12px;
    left: auto;
}
.img-holder {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}
.rtl .bsac .bsac-container {
    direction: rtl;
}


/*
 * => Header and Navigation
 */
.site-header .navbar-toggle {
    right: 0;
    left: auto;
}
.site-header .navbar-search {
    left: 0;
    right: auto;
}


/*
 * => Comments
 */

.comment .column-1 {
    float: right;
}
.comment .column-2 {
    padding-right: 75px;
    padding-left: 0;
}
.comment .comment-footer a, .comment .comment-footer .fa {
    float: right;
    margin-left: 10px;
    line-height: 18px;
}
.comments-pagination a {
    margin-left: 5px;
    margin-right: 0;
}
.comments-wrapper  .button.add-comment.button.add-comment {
    float: left;
}
/*
 * => Footer
 */
.footer-navigation .fa {
    margin-left: 5px;
    margin-right: auto;
}
.better-amp-main-link a .fa {
    margin-left: 5px;
    margin-right: auto;
}
