/*

 BetterAMP ads RTL style for BetterAds

*/

/**
 * 2. =>Ads Container
 **************************************************************/
.rtl .bsac .bsac-container {
    direction: rtl;
}
.bsac.bsac-align-left {
    text-align: left;
}
.bsac.bsac-align-right {
    text-align: right;
}
.bsac.bsac-float-right {
    float: right;
    margin-left: 20px;
    margin-right: auto;
}
.bsac.bsac-float-left {
    float: left;
    margin-right: 20px;
    margin-left: auto;
}


/**
 * 4. =>Columns
 **************************************************************/
/* 2 column */
.bsac.bsac-column-2 .bsac-container {
    float: right;
}
.bsac.bsac-column-2 .bsac-container:nth-of-type(odd) {
    padding-left: 5px;
    clear: right;
    padding-right: 0;
}
.bsac.bsac-column-2 .bsac-container:nth-of-type(even) {
    padding-right: 5px;
    padding-left: 0;
}

/* 3 column */
.bsac.bsac-column-3 .bsac-container {
    float: right;
}
.bsac.bsac-column-3 .bsac-container:nth-child( 3n-2 ) {
    padding-left: 6px;
    clear: right;
    padding-right: 0;
}
.bsac.bsac-column-3 .bsac-container:nth-child( 3n+3  ) {
    padding-right: 6px;
    padding-left: 0;
}
