/*
 * => Page single
 */
.single-page{
    margin: 0 0 15px;
}
.single-page .page-thumbnail{
    margin-bottom: 15px;
    text-align: center;
}
.single-page .page-thumbnail .amp-image-tag {
    display: inline-block;
}
.single-page .page-title {
    font-size: 18px;
    margin: 0 0 15px;
    line-height: 1.3;
}
