/*
 * => Post Terms
 */
.post-terms{
    margin: 0 0 10px;
    position: relative;
    padding-left: 48px;
    clear: both;
}
.post-terms a,
.post-terms .term-type{
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    text-decoration: none;
    margin-right: 4px;
    border-radius: 33px;
    color: #464646;
}
.post-terms .term-type{
    margin-right: 6px;
    color: #ffffff;
    background: #464646;
    border-color: transparent;
    position: absolute;
    left: 0;
}
.post-terms a{
    margin: 0 4px 4px 0;
}
.post-terms a:hover{
    color: #fff;
    border-color: transparent;
}
.post-terms a:last-child{
    margin-right: 0;
}
.post-terms .post-categories{
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.post-terms .post-categories li{
    display: inline;
}
.post-terms .post-categories li a{
    margin-right: 4px;
}
.post-terms .post-categories li:last-child a{
    margin-right: 0;
}
