/**
 * => Pagination
 */
.pagination{
    line-height: 28px;
    margin: 0 0 30px;
    height: 30px;
}
.pagination .nav-links {
    text-align: center;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
    color: #a2a2a2;
    font-size: 14px;
}
.pagination .nav-links .page-numbers,
.pagination h2,
.pagination > .screen-reader-text {
    display: none;
}
.pagination .nav-links .page-numbers.prev,
.pagination .nav-links .page-numbers.current,
.pagination .nav-links .page-numbers.next {
    display: inline-block;
}
.pagination .nav-links .page-numbers.prev,
.pagination .nav-links .page-numbers.next {
    padding: 0 18px;
    border: 1px solid #d7d7d7;
    color: #494949;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    background: #f7f7f7;
    border-radius: 33px;
}
.pagination .nav-links .page-numbers.prev {
    float: left;
}
.pagination .nav-links .page-numbers.next {
    float: right;
}
.pagination .nav-links .page-numbers.prev .fa {
    margin-right: 7px;
}
.pagination .nav-links .page-numbers.next .fa {
    margin-left: 7px;
}
.pagination .nav-links .page-numbers.current:first-child{
    float: left;
}
.pagination .newer {
    float: right;
}
.pagination .older {
    float: left;
}
