
.wp-block-button {
    color: #fff;
    margin-bottom: 1.5em;
}

.wp-block-button.aligncenter {
    text-align: center;
}

.wp-block-button.alignright {
    /*rtl:ignore*/
    text-align: right;
}

.wp-block-button__link {
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    overflow-wrap: break-word;
}

.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active {
    color: inherit;
}

.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.is-style-outline {
    color: #32373c;
}

.is-style-outline .wp-block-button__link {
    background: transparent;
    border: 2px solid currentcolor;
}