.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}
.wp-block-column {
    flex: 1;
    margin-bottom: 1em;
    flex-basis: 100%;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 600px) {
    .wp-block-column {
        flex-basis: 50%;
        flex-grow: 0;
    }
}

@media (min-width: 600px) {
    .wp-block-column:nth-child(odd) {
        margin-right: 32px;
    }

    .wp-block-column:nth-child(even) {
        margin-left: 32px;
    }

    .wp-block-column:not(:first-child) {
        margin-left: 32px;
    }

    .wp-block-column:not(:last-child) {
        margin-right: 32px;
    }
}